name: inthon_7_student
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0
environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  shadcn_ui: ^0.39.6
  intl: ^0.20.2
  shared_preferences: ^2.1.1
  web_socket_channel: ^3.0.3
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/
